<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="container">
    <%= yield %>
    
    <%= render 'layouts/flash_tasks' %>
    </div>
  </body>
</html>
